------------------------------------------------------------------------
-- This query template helps produce a data table to make
-- a flagging history map figure for support vessels of the countries with
-- the most support vessels. The figure will display only the top 15 flags
-- with their flagging history and AIS activity as dots in the figure.
-- The result table includes the support vessels that have a single flag
-- throughout their entire time range between 2012 and the set end date.
-- The query pulls the precursor process table from
-- the query named `staging_all_flagging_support.sql.j2`
--
-- Last update: 2021-09-26
------------------------------------------------------------------------
CREATE TEMP FUNCTION start_date () AS (TIMESTAMP ("2012-01-01"));
CREATE TEMP FUNCTION end_date () AS (TIMESTAMP ("{{ END_DATE }}"));

WITH
  -----------------------------------------
  -- Pull all vessels from the source table
  -----------------------------------------
  all_flagging_ranked AS (
    SELECT
      vessel_record_id, n_shipname, n_callsign, ssvids_associated, flag,
      first_timestamp, last_timestamp, num_events, rank
    FROM `{{ PROJECT }}.{{ STAGING }}.{{ ALL_FLAGGING_SUPPORT }}_v{{ YYYYMMDD }}`
  ),

  ##########################################################################################
  # TODO: Replace the below sub-query with reflagging core table that has the same operation
  ##########################################################################################
  ---------------------------------------------------------------------------------------
  -- Determine the latest flag (as of end_date()), 2nd last flag,
  -- and the major flag that represents the most days between start_date() and end_date()
  ---------------------------------------------------------------------------------------
  processed AS (
    SELECT
      * EXCEPT (second_last_flag, num_days),
      second_last_flag,
      FIRST_VALUE (flag) OVER (
        PARTITION BY vessel_record_id
        ORDER BY flag IN (SELECT flag FROM all_flagging_ranked ) DESC,
            flag = latest_flag ASC, num_days DESC ) AS major_flag
    FROM (
      SELECT
        * EXCEPT (second_last_flag, second_last_timestamp, max_last_timestamp),
        LAST_VALUE (flag) OVER (
          PARTITION BY vessel_record_id
          ORDER BY last_timestamp
          ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING ) AS latest_flag,
        LAST_VALUE (second_last_flag IGNORE NULLS) OVER (
          PARTITION BY vessel_record_id
          ORDER BY last_timestamp
          ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING ) AS second_last_flag,
        MAX (second_last_timestamp) OVER (PARTITION BY vessel_record_id) AS second_last_timestamp
      FROM (
        SELECT
          * EXCEPT (second_last_flag, second_last_timestamp),
          IF (flag = second_last_flag, NULL, second_last_flag) AS second_last_flag,
          IF (flag = second_last_flag, NULL, second_last_timestamp) AS second_last_timestamp,
          IF (last_timestamp = max_last_timestamp,
            NULL,
            TIMESTAMP_DIFF (last_timestamp, first_timestamp, DAY) ) AS num_days
        FROM (
          SELECT
            *,
            LAG (flag) OVER (PARTITION BY vessel_record_id ORDER BY last_timestamp) AS second_last_flag,
            LAG (last_timestamp) OVER (PARTITION BY vessel_record_id ORDER BY last_timestamp) AS second_last_timestamp,
            MAX (last_timestamp) OVER (PARTITION BY vessel_record_id) AS max_last_timestamp
          FROM all_flagging_ranked ) ) )
  ),

  ------------------------------------------------------------
  -- A few manual correction
  -- TODO: Some wrong time ranges or wrong flag mapping
  -- needs to be fixed in the identity core dataset
  ------------------------------------------------------------
  processed_corrected AS (
    SELECT
      * EXCEPT (major_flag, second_last_flag, last_timestamp),
      CASE
        WHEN vessel_record_id = "CCSBT-CV04750|FFA-36097|IATTC-14348|IMO-9140097|IOTC-8452|RUS-1014377|TWN-17275|WCPFC-9499"
        THEN "LBR"
        WHEN vessel_record_id = "CCSBT-CV04733|FFA-36215|IATTC-13647|ICCAT-AT000LBR00020|ICCAT-AT000PAN00309|IMO-9128764|IOTC-8469|PAN-52454|TWN-17468|WCPFC-9722"
        THEN "LBR"
        WHEN vessel_record_id = "CCSBT-CV05639|FFA-36241|IATTC-14676|ICCAT-AT000LBR00006|ICCAT-AT000PAN00246|IMO-9620384|IOTC-13783|PAN-50329|TWN-17162|TWN-50329-19|WCPFC-10111"
        THEN "LBR"
        WHEN vessel_record_id = "CCSBT-CV04761|FFA-33995|IATTC-14323|ICCAT-AT000JPN00572|ICCAT-AT000PAN00254|ICCAT-AT000VUT00027|IMO-9105293|IOTC-8453|NPFC-1433|PAN-50183|TWN-17301|TWN-50183-19|WCPFC-9440"
        THEN "LBR"
        WHEN vessel_record_id = "IMO-9057393|NPFC-809|RUS-914497|RUS-993661|WCPFC-9415"
        THEN "PAN"
        WHEN vessel_record_id = "IMO-8860432|NPFC-811|RUS-911499"
        THEN "PAN"
        WHEN vessel_record_id = "IMO-9000364|RUS-997672"
        THEN "EU"
        WHEN vessel_record_id = "IMO-7927960|RUS-998149"
        THEN "PAN"
        WHEN vessel_record_id = "IMO-9109500|RUS-1000511"
        THEN "PAN"
        WHEN vessel_record_id = "CCSBT-CV04735|FFA-34060|FFA-36802|IATTC-13646|ICCAT-AT000JPN00567|ICCAT-AT000KOR00232|IMO-8909680|IOTC-8468|RUS-1014213|TWN-50262|TWN-JJR-171054|WCPFC-9233"
        THEN "KOR"
        WHEN latest_flag = "EU" AND major_flag = "PAN"
        THEN "MHL"
        WHEN vessel_record_id = "FFA-36625|ICCAT-ATEU0MLT00912|IMO-9076246|NPFC-1278|WCPFC-11169"
        THEN "LBR"
        WHEN vessel_record_id = "FFA-35049|IMO-9058804|WCPFC-9458"
        THEN "SGP"
        ELSE major_flag
      END AS major_flag,
      CASE
        WHEN vessel_record_id = "CCAMLR-84024|IMO-8908117|PER-CO-38384-PM|RUS-904809"
        THEN "PER"
        ELSE second_last_flag
      END AS second_last_flag,
      CASE
        WHEN vessel_record_id = "IATTC-15972|IMO-9340922|IOTC-16239|WCPFC-11234" AND n_callsign = "9HA3362"
        THEN TIMESTAMP "2014-06-17 21:07:58 UTC"
        ELSE last_timestamp
      END AS last_timestamp
    FROM processed
  ),

  -----------------------------------------------------------------------------
  -- The ranking of the latest flags as of end_date() to make an order of flags
  -- to be displayed in the figure (like RUS on top, EU next etc)
  -----------------------------------------------------------------------------
  flag_rank_1 AS (
    SELECT latest_flag, cnt, ROW_NUMBER () OVER (ORDER BY cnt DESC, latest_flag DESC) AS rank_1
    FROM (
      SELECT latest_flag, COUNT (DISTINCT vessel_record_id) AS cnt
      FROM processed_corrected
      GROUP BY 1 )
  ),

  ----------------------------------------------------
  -- The ranking of the 2nd last flag to give an order
  -- within the group of each latest flag
  ----------------------------------------------------
  flag_rank_2 AS (
    SELECT latest_flag, second_last_flag, ROW_NUMBER () OVER (PARTITION BY latest_flag ORDER BY cnt DESC) AS rank_2
    FROM (
      SELECT latest_flag, second_last_flag, COUNT (DISTINCT vessel_record_id) AS cnt
      FROM processed_corrected
      GROUP BY 1,2 )
  ),

  ----------------------------------------------------------------------------------
  -- Ranking of the major flags within each group of latest flag
  -- to give an order of which major flag needs to be displayed on top in the figure
  ----------------------------------------------------------------------------------
  major_flag_rank AS (
    SELECT latest_flag, major_flag, ROW_NUMBER () OVER (PARTITION BY latest_flag ORDER BY cnt DESC) AS rank_major_flag
    FROM (
      SELECT latest_flag, major_flag, COUNT (DISTINCT vessel_record_id) AS cnt
      FROM processed_corrected
      GROUP BY 1,2 )
  ),

  ---------------------------------------
  -- Combined all rankings for the figure
  ---------------------------------------
  rank_added AS (
    SELECT DISTINCT *
    FROM processed_corrected
    LEFT JOIN flag_rank_1
    USING (latest_flag)
    LEFT JOIN flag_rank_2
    USING (latest_flag, second_last_flag)
    LEFT JOIN major_flag_rank
    USING (latest_flag, major_flag)
  ),

  -------------------------------------------------------------------------
  -- Indicate whether a vessel is active in AIS using the segment table
  -- One dot in the figure represents an activity within a window of 5 days
  -------------------------------------------------------------------------
  positions AS (
      SELECT DISTINCT
        ssvid,
        ANY_VALUE (timestamp) OVER (PARTITION BY ssvid, date_window) AS timestamp
      FROM (
        SELECT DISTINCT
          ssvid, first_timestamp AS timestamp,
          CAST (TIMESTAMP_DIFF (first_timestamp, start_date(), DAY) / 5 AS INT64) AS date_window
        FROM `gfw_research.pipe_v20201001_segs_daily` )
  ),

  -------------------------------------------------------------------------------
  -- For simplicity, we display dots (activity) of vessels flying flags in top 15
  -------------------------------------------------------------------------------
  filter_top_flags AS (
    SELECT vessel_record_id, LOGICAL_OR (rank <= 15) AS top_flags
    FROM all_flagging_ranked
    GROUP BY 1
  ),

  ----------------------------------------------------------------------------------------
  -- Include all vessels (reflagging + vessels that have a single flag throughout history)
  ----------------------------------------------------------------------------------------
  all_vessels AS (
    SELECT * #, cnt
    FROM (
      SELECT *, SPLIT (ssvids_associated, "|") AS ssvid_array
      FROM rank_added ) AS a
    JOIN filter_top_flags
    USING (vessel_record_id)
    WHERE top_flags
  ),

  -----------------------------------------
  -- Ranking by the total number of vessels
  -----------------------------------------
  flag_ranking AS (
    SELECT latest_flag, COUNT(DISTINCT vessel_record_id) AS cnt_total
    FROM all_vessels
    GROUP BY 1
    ORDER BY cnt_total DESC
  ),

  -------------------------------------------
  -- Count of reflagging instances by country
  -------------------------------------------
  reflagging_cnt AS (
    SELECT latest_flag, COUNT (DISTINCT vessel_record_id) AS reflag_count
    FROM all_vessels #processed_corrected
    WHERE latest_flag != flag
    GROUP BY 1
  ),

  add_flag_ranking AS (
    SELECT * EXCEPT (reflag_count, cnt_total), IFNULL (reflag_count / cnt_total, 0) AS reflag_ratio
    FROM all_vessels AS a
    LEFT JOIN flag_ranking AS b
    USING (latest_flag)
    LEFT JOIN reflagging_cnt AS c
    USING (latest_flag)
  )


SELECT
  * EXCEPT (flag, ssvid_array, ssvid, n_shipname, n_callsign, num_events, top_flags),
  IF (rank <= 30, flag, "OTHERS") AS flag
FROM add_flag_ranking AS a
LEFT JOIN positions AS b
ON (b.ssvid IN UNNEST (ssvid_array)
  AND b.timestamp BETWEEN a.first_timestamp AND a.last_timestamp)
WHERE timestamp BETWEEN start_date() AND end_date()
  AND timestamp IS NOT NULL
  AND top_flags
ORDER BY rank_1 DESC, rank_major_flag DESC, second_last_timestamp ASC,
  TIMESTAMP_DIFF (last_timestamp, first_timestamp, DAY) ASC