--------------------------------------------------------------------
-- This query calculates the average length of time that vessels are
-- registered to each flag.
--
-- Last updated: 2021-08-19
--------------------------------------------------------------------


WITH 

-----------------------------------------------------------------------
-- Get all identities and calculate the duration of their activity with 
-- that flag.
-----------------------------------------------------------------------
identities_with_length AS (
    SELECT 
    *,
    TIMESTAMP_DIFF(last_timestamp, first_timestamp, DAY) as length_days
    FROM `{{PROJECT}}.{{IDENTITY_TABLE}}`
    WHERE NOT timestamp_overlap
    AND flag IS NOT NULL
),

-----------------------------------------------------------------------
-- Calculate the median length that identities stay with each flag.
-- NOTE: this had to be calculated separately from `stats_by_flag`
-- because of restrictions by PERCENTILE_CONT.
-----------------------------------------------------------------------
median_length_by_flag AS (
    SELECT
    DISTINCT flag,
    median_flag_stay
    FROM (
    SELECT
        flag,
        PERCENTILE_CONT(length_days, 0.5) OVER(PARTITION BY flag) 
            AS median_flag_stay
    FROM identities_with_length)
),

-----------------------------------------------------------------------
-- Calculate the remaining stats for the flag stays for each flag,
-- including average flag stay length.
-----------------------------------------------------------------------
stats_by_flag AS (
    SELECT 
    flag,
    COUNT(*) as num_identities,
    COUNT(DISTINCT vessel_record_id) as num_hulls,
    AVG(length_days) as avg_flag_stay,
    SUM(length_days) as total_flag_stay
    FROM identities_with_length
    GROUP BY flag
    ORDER BY avg_flag_stay
)

-----------------------------------------------------------------------
-- Return all of the flag stay stats by flag.
-----------------------------------------------------------------------
SELECT 
flag,
num_identities,
num_hulls,
avg_flag_stay,
median_flag_stay,
total_flag_stay
FROM stats_by_flag
JOIN median_length_by_flag USING (flag)