--------------------------------------------------------------------
-- This query calculates the total gridded fishing effort in the 
-- public fishing effort dataset at one degree.
--
-- Last updated: 2021-08-19
--------------------------------------------------------------------
WITH 

scaled_fishing_effort AS (
    SELECT
    * EXCEPT (cell_ll_lat, cell_ll_lon),
    FLOOR(cell_ll_lat / {{ DEGREE }}) as cell_ll_lat,
    FLOOR(cell_ll_lon / {{ DEGREE }}) as cell_ll_lon,
    FROM `{{ PROJECT_PUBLIC }}.{{ PUBLIC_FISHING_EFFORT_TABLE }}`
)


SELECT
cell_ll_lat as cell_ll_lat,
cell_ll_lon as cell_ll_lon,
SUM(fishing_hours) AS total_fishing_in_cell,
COUNT(mmsi) as num_mmsi,
FROM scaled_fishing_effort
GROUP BY cell_ll_lat, cell_ll_lon