------------------------------------------------------------------------------
-- This query template helps produce a data table of
-- where vessels change identities by "stitching" vessels activity time ranges
-- combined with their first/last AIS positions.
-- (Warning): This query consumes about 2TB to run
--
-- Last update: 2021-09-18
------------------------------------------------------------------------------

-------------------------------------------------------------------
-- Allowed time gap and distance between two consecutive identities
-------------------------------------------------------------------
CREATE TEMP FUNCTION allowed_time_gap() AS (24 * 60);
CREATE TEMP FUNCTION allowed_distance_gap() AS (1000);
-----------------------------------------------------------------------
-- Allowed time gap between AIS identity messages and position messages
-----------------------------------------------------------------------
CREATE TEMP FUNCTION allowed_pipe_time_gap() AS (24 * 30);
-------------------------
-- Time range of interest
-------------------------
CREATE TEMP FUNCTION start_date() AS (TIMESTAMP "{{ START_DATE }}");
CREATE TEMP FUNCTION end_date() AS (TIMESTAMP "{{ END_DATE }}");

WITH
  ---------------------------------------------------------
  -- Vessel identities from the vessel identity dataset,
  -- Turn Null values to STRING to be able to JOIN properly
  ---------------------------------------------------------
  raw_data AS (
    SELECT
      vessel_record_id,
      ssvid,
      IFNULL (n_shipname, "NULL") AS n_shipname,
      IFNULL (n_callsign, "NULL") AS n_callsign,
      IFNULL (imo, "NULL") AS imo,
      IFNULL (flag, "NULL") AS flag,
      geartype,
      first_timestamp, last_timestamp
    FROM `{{ PROJECT }}.{{ DATASET }}.{{ IDENTITY_CORE_DATA }}{{ YYYYMMDD }}`
  ),

  ------------------------------------
  -- Positional messages from pipeline
  ------------------------------------
  location_info AS (
    SELECT ssvid, lat, lon, timestamp, _PARTITIONTIME AS date, distance_from_port_m
    FROM `{{ PROJECT }}.{{ PIPELINE_DATA }}`
    WHERE _PARTITIONTIME >= start_date()
      AND _PARTITIONTIME < end_date()
  ),

  ---------------------------------------------------------------------------
  -- Find the most likely position of the first timestamp of vessels
  ---------------------------------------------------------------------------
  id_pairing_spatial_match_start_point AS (
    SELECT
      * EXCEPT (min_first_timestamp_gap),
      ST_GEOGPOINT (first_position_lon, first_position_lat) AS first_position
    FROM (
      SELECT
        *,
        MIN (first_timestamp_gap) OVER (PARTITION BY ssvid) AS min_first_timestamp_gap
      FROM (
        SELECT
          a.*,
          b.lon AS first_position_lon, b.lat AS first_position_lat,
          TIMESTAMP_DIFF (b.timestamp, a.first_timestamp, SECOND) AS first_timestamp_gap,
          b.distance_from_port_m AS first_distance_port,
        FROM raw_data AS a
        LEFT JOIN location_info AS b
        ON (a.ssvid = b.ssvid
          ------------------------------------------------------------------------------------------
          -- There may be some gaps between first/last timestamp and pipeline timestamps
          -- because of lack of identity messages in some cases (only positional messages available)
          -- For these cases, allow such gaps to be within a designated time range (i.e. a month)
          ------------------------------------------------------------------------------------------
          AND ABS (TIMESTAMP_DIFF (a.first_timestamp, b.timestamp, HOUR)) < 24 * 30 ) ) )
    -----------------------------------------------------------
    -- Find the pipeline position messages
    -- going further in the past (within the allowed time gap)
    -----------------------------------------------------------
    WHERE ( min_first_timestamp_gap = first_timestamp_gap
      OR min_first_timestamp_gap IS NULL )
  ),

  ---------------------------------------------------------------------------
  -- Find the most likely position of the last timestamp of vessels
  ---------------------------------------------------------------------------
  id_pairing_spatial_match_end_point AS (
    SELECT
      * EXCEPT (max_last_timestamp_gap),
      ST_GEOGPOINT (last_position_lon, last_position_lat) AS last_position,
    FROM (
      SELECT
        *,
        MAX (last_timestamp_gap) OVER (PARTITION BY ssvid) AS max_last_timestamp_gap,
      FROM (
        SELECT
          a.*,
          c.lon AS last_position_lon, c.lat AS last_position_lat,
          TIMESTAMP_DIFF (c.timestamp, a.last_timestamp, SECOND) AS last_timestamp_gap,
          c.distance_from_port_m AS last_distance_port
        FROM id_pairing_spatial_match_start_point AS a
        LEFT JOIN location_info AS c
        ON (a.ssvid = c.ssvid
          AND ABS (TIMESTAMP_DIFF (a.last_timestamp, c.timestamp, HOUR)) < 24 * 30 ) ) )
    -----------------------------------------------------------
    -- Find the pipeline position messages
    -- going further in the future (within the allowed time gap)
    -----------------------------------------------------------
    WHERE ( max_last_timestamp_gap = last_timestamp_gap
      OR max_last_timestamp_gap IS NULL )
  ),

  -----------------------------------------------------------------------------------------------
  -- Plug vessels based on the following rules:
  -- 1. first_timestamp of one vessel and last_timestamp of another vessel is within preset hours,
  -- 2. These vessels are close enough, within preset km at the point of their first or last timestamp
  -- 3. Note the distance from port at the time of "connection."
  -----------------------------------------------------------------------------------------------
  id_pairing AS (
    SELECT
      *,
      IFNULL (next_distance, prev_distance) AS distance_gap_meter
    FROM (
      SELECT
        a.vessel_record_id,
        a.ssvid, a.n_shipname, a.n_callsign, a.imo, a.flag, a.geartype,
        a.first_timestamp,
        a.last_timestamp,
        b.vessel_record_id AS pair_vessel_record_id,
        b.first_timestamp AS pair_first_timestamp,
        b.last_timestamp AS pair_last_timestamp,
        b.ssvid AS pair_ssvid,
        b.n_shipname AS pair_n_shipname,
        b.n_callsign AS pair_n_callsign,
        b.imo AS pair_imo,
        b.flag AS pair_flag,
        b.geartype AS pair_geartype,
        IF (a.last_timestamp < b.first_timestamp, b.first_distance_port, a.first_distance_port) AS first_distance_port,
        IF (a.last_timestamp < b.first_timestamp, a.last_distance_port, b.last_distance_port) AS last_distance_port,
        IF (a.last_timestamp < b.first_timestamp, a.last_position_lat, b.last_position_lat) AS last_position_lat,
        IF (a.last_timestamp < b.first_timestamp, a.last_position_lon, b.last_position_lon) AS last_position_lon,
        IF (a.last_timestamp < b.first_timestamp, b.first_position_lat, a.first_position_lat) AS first_position_lat,
        IF (a.last_timestamp < b.first_timestamp, b.first_position_lon, a.first_position_lon) AS first_position_lon,
        ( TIMESTAMP_DIFF (b.first_timestamp, a.last_timestamp, HOUR) BETWEEN 0 AND allowed_time_gap()
          AND ST_DISTANCE (b.first_position, a.last_position) < allowed_distance_gap() ) AS is_next_identity,
        ST_DISTANCE (b.first_position, a.last_position) AS next_distance,
        ( TIMESTAMP_DIFF (a.first_timestamp, b.last_timestamp, HOUR) BETWEEN 0 AND allowed_time_gap()
          AND ST_DISTANCE (a.first_position, b.last_position) < allowed_distance_gap() ) AS is_prev_identity,
        ST_DISTANCE (a.first_position, b.last_position) AS prev_distance
      FROM id_pairing_spatial_match_end_point AS a
      CROSS JOIN id_pairing_spatial_match_end_point AS b )
    WHERE is_next_identity OR is_prev_identity
  ),

  ---------------------------------------------------------------------------------------------------
  -- In case there are multiple matches between vessels (one's last and the other's first timestamps)
  -- get ranking of these matches by distance between the vessel pairs
  ---------------------------------------------------------------------------------------------------
  multi_match_rank AS (
    SELECT
      *,
      COUNT (*) OVER (
        PARTITION BY ssvid, n_shipname, n_callsign, imo, flag) AS num_paired,
      RANK () OVER (
        PARTITION BY ssvid, n_shipname, n_callsign, imo, flag
        ORDER BY distance_gap_meter ASC) AS rank_dist
    FROM id_pairing
  ),

  --------------------------
  -- Pull ports' information
  --------------------------
  ports AS (
    SELECT
      lon, lat, ST_GEOGPOINT (lon, lat) AS port_pos,
      label AS port_label, iso3 AS port_iso3
    FROM `anchorages.named_anchorages_v20201104`
  ),

  -----------------------------------------------------------
  -- Combine all information about the identity change points
  -----------------------------------------------------------
  change_points AS (
    SELECT
      num_paired,
      rank_dist,
      distance_gap_meter,
      TIMESTAMP_DIFF (pair_first_timestamp, last_timestamp, MINUTE) AS time_gap_minute,
      first_position_lat,
      first_position_lon,
      first_timestamp,
      last_timestamp,
      pair_first_timestamp,
      pair_last_timestamp,
      IF (flag="NULL", NULL, flag) AS flag,
      IF (pair_flag="NULL", NULL, pair_flag) AS pair_flag,
      IF (imo="NULL", NULL, imo) AS imo,
      IF (pair_imo="NULL", NULL, pair_imo) AS pair_imo,
      vessel_record_id,
      pair_vessel_record_id,
      ssvid,
      pair_ssvid,
      IF (n_shipname="NULL", NULL, n_shipname) AS n_shipname,
      IF (pair_n_shipname="NULL", NULL, pair_n_shipname) AS pair_n_shipname,
      IF (n_callsign="NULL", NULL, n_callsign) AS n_callsign,
      IF (pair_n_callsign="NULL", NULL, pair_n_callsign) AS pair_n_callsign,
      geartype,
      pair_geartype,
      first_distance_port,
      last_distance_port
    FROM multi_match_rank
    -----------------------------------
    -- Deduplicate cases of A-B and B-A
    -----------------------------------
    WHERE is_next_identity
  ),

  -----------------------------------------------------
  -- Add port information to the identity change points
  -----------------------------------------------------
  add_ports AS (
    SELECT * EXCEPT (change_point_pos, port_pos, port_dist, port_rank, lon, lat)
    FROM (
      SELECT
        *,
        RANK () OVER (
          PARTITION BY
            ssvid, imo, n_shipname, n_callsign, imo, flag,
            num_paired, rank_dist
          ORDER BY port_dist ASC) AS port_rank
      FROM (
        SELECT *, ST_DISTANCE (port_pos, change_point_pos) AS port_dist
        FROM (
          SELECT *, ST_GEOGPOINT (first_position_lon, first_position_lat) AS change_point_pos
          FROM change_points ) AS a
        JOIN ports AS b
        -----------------------------------------------------------------------------
        -- Allow 100th degree distance between the identity change point and the port
        -----------------------------------------------------------------------------
        ON a.first_position_lon BETWEEN b.lon - 0.01 AND b.lon + 0.01
          AND a.first_position_lat BETWEEN b.lat - 0.01 AND b.lat + 0.01) )
    WHERE port_rank = 1
  ),

  ---------------------------------------------------------------------------
  -- If the identity change points are outside port positions in our database
  ---------------------------------------------------------------------------
  outside_ports AS (
    SELECT *
    FROM change_points
    WHERE (ssvid, n_shipname, num_paired, rank_dist ) NOT IN (
      SELECT (ssvid, n_shipname, num_paired, rank_dist )
      FROM add_ports )
  ),

  -----------------------
  -- Combine all together
  -----------------------
  combined AS (
    SELECT *
    FROM add_ports
    UNION ALL
    SELECT *, NULL AS port_label, NULL AS port_iso3
    FROM outside_ports
  )

SELECT *
FROM combined
ORDER BY imo, flag
